# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/execution-environment.json#/$defs/v3
#
# NOTE(acederberg): Starting directly from the tutorial.
#
version: 3
dependencies:
  galaxy: requirements.yaml
  python: requirements.txt
  python_interpreter:
    # NOTE(acederberg): Specific to `fedora:43`.
    package_system: python3
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  system:
    - openssh-clients
    # NOTE(acederberg): It is possible just to use `python3-libvirt` to avoid
    #                   building when installing from wheel. However, this will
    #                   make `poetry.toml` less clean overall.
    #
    #                   The execution environment contains the stack to mount
    #                   a libvirt socket, but the objective is to allow the EE
    #                   to ssh into the libvirt host. In the case that the
    #                   EE container host is also the libvirt host, the EE
    #                   should just have a straight up connection to the host
    #                   without any additional configuration.
    - pkgconfig
    - libvirt-devel
    - python3-devel
    - python3-libvirt
    - gcc
images:
  base_image:
    name: registry.fedoraproject.org/fedora:43
options:
  # NOTE(acederberg): The user option requires that the user exists in the image.
  #                   This image defaults to a nameless user with uid=1000 gid=0
  user: ansible-user
  tags:
    - registry.acederberg.io/devimg/execution-environment:0.1.0
additional_build_steps:
  append_final:
    - RUN groupadd --gid 1000 ansible-user
    - RUN useradd --gid 1000  --uid 1000 --groups root --password ansible-user ansible-user
    - RUN mkdir /home/ansible-user/.ansible
    - RUN chown -R ansible-user:ansible-user /home/ansible-user
