# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/execution-environment.json#/$defs/v3
#
# NOTE(acederberg): Starting directly from the tutorial.
#
version: 3
dependencies:
  galaxy: requirements.yaml
  python: requirements.txt
  python_interpreter:
    # NOTE(acederberg): Specific to `fedora:43`.
    package_system: python3
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  system:
    - openssh-clients
    # NOTE(acederberg): It is possible just to use `python3-libvirt` to avoid
    #                   building when installing from wheel. However, this will
    #                   make `poetry.toml` less clean overall.
    - pkgconfig
    - libvirt-devel
    - python3-devel
    - gcc
images:
  base_image:
    name: registry.fedoraproject.org/fedora:43
options:
  # NOTE(acederberg): The user option requires that the user exists in the image.
  #                   This image defaults to a nameless user with uid=1000 gid=0
  tags:
    - registry.acederberg.io/devimg/execution-environment:0.1.0
  workdir: /opt/devimg
