# vi: set ft=yaml.ansible :
- name: Create Network XML
  block:
    - ansible.builtin.set_fact:
        network_xml: "{{ lookup('template', 'libvirt/network.xml.j2') }}"
    - ansible.builtin.copy:
        content: "{{ network_xml }}"
        dest: "{{ artifacts.templated }}/network.xml"
- name: Declare Network
  community.libvirt.virt_net:
    command: define
    name: "{{ network.name }}"
    xml: "{{ network_xml }}"
- name: Start Network
  community.libvirt.virt_net:
    command: start
    name: "{{ network.name }}"
    autostart: true
