services:
  traefik:
    image: traefik/traefik
    ports:
      - 443
      - 80
      - 9000
      # volumes:
  nexus:
    image: sonatype/nexus3
    ports:
      - 8081
    volumes:
      - nexus-data:/nexus-data
volumes:
  nexus-data:
