{# vi: set ft=jinja : #}
project_name: bootc-builder
services:
  bootc:
    container_name: bootc
    tty: true
    privileged: true
    security_opt:
      - label=type:unconfied__t
    volumes:
      - type: bind
        source: "{{ artifacts.bootc_outputs }}"
        target: /output
      - type: bind
        source: /var/lib/containers/storage
        target: /var/lib/containers/storage
    image: registry.redhat.io/rhel9/bootc-image-builder
    configs:
      - source: bootc
        target: /config.toml
    entrypoint: bash
configs:
  bootc:
    name: bootc-config
    file: ./bootc.toml
