{# vi: set ft=jinja : #}
{# Make sure to end all lines with a semicolon - these lines will be conjoined.
   Passwords generated with openssl will almost always have a $ in them, so care
   must be taken to avoid formatting this string.

   At the moment it looks like this only applies to debian, not redhat since
   `bootc.toml` is being used for that purpose.
#}

systemctl enable serial-getty@ttyS0.service;

{% for user in users %}
  chage --lastday=0 {{ user.username }};
  echo "{{ user.username }}:$( echo '{{ user.password_crypt }}' | base64 --decode )" | chpasswd -e;

  {% if user.super %}
    /sbin/usermod -aG sudo '{{ user.username }}';
  {% endif %}
{% endfor %}


{% if domain.image.os_family == "debian" %}
  /usr/bin/apt-get update --yes;
  /usr/bin/apt-get purge --yes cloud-init;
  /usr/bin/apt-get autoremove;
  /usr/bin/apt-get install --yes openssh-server qemu-guest-agent;
  systemctl enable qemu-guest-agent.service;
  systemctl enable openssh-server;
{% else %}
  dnf remove --yes cloud-init;
  yum remove --yes cloud-init;
  dnf install --yes openssh-server; qemu-guest-agent
  systemctl enable openssh-server;
  systemctl enable qemu-guest-agent
{% endif %}
