{# vi: set ft=jinja : #}
[org/gnome/desktop/background]

picture-uri='file://{{ backgrounds_dir }}{{ backgrounds.desktop }}'
picture-options='spanned' 
# or 'none', 'wallpaper', 'centered', 'scaled', 'stretched', 'zoom', 'spanned'
primary-color='000000'
secondary-color='FFFFFF'

