{# vi: set ft=jinja : #}

virt-customize \
  -a {{ dest_qemu }} \
  --root-password=password:root \
  --run-command "useradd -m -s /bin/bash {{ domain.init.user.username }}" \
  --run-command "useradd -m -s /bin/bash {{ ansible.username }}" \
  --firstboot-command <<EOF
    {{ include ./customize.sh }}
  EOF
  --ssh-inject '{{ ansible.username }}:string:"{{ domain.init.user.sshpubkey }}"' \
  --ssh-inject '{{ domain.init.user.username }}:string:"{{ domain.init.user.sshpubkey }}"' \
  --ssh-inject '{{ domain.init.user.username }}:string:"{{ domain.init.user.sshpubkey }}"' \

