{# vi: set ft=jinja : #}
<domain type='kvm'>
  <name>{{ domain.name }}</name>
  <memory unit='MiB'>{{ domain.memory }}</memory>
  <vcpu placement='static'>2</vcpu>
  <cpu mode='host-passthrough'/>
  <os>
    <type arch='x86_64'>hvm</type>
    <boot dev='cdrom'/>
    <boot dev='hd'/>
  </os>

  <devices>
    <!-- Network interface -->
    <interface type='network'>
      <source network='{{ libvirt.network.name }}'/>
      <model type='virtio'/>
    </interface>

    {# There are different ways to handle booting these various medias.

    In the inventory, use `kind` to specify which variety can be used.
    #}
    {% if domain.image.kind == "cd" %}
      <!-- Bootable media -->
      <disk type='file' device='cdrom'>
        <driver name='qemu' type='raw'/>
        <source file='{{ image_path }}'/>
        <target dev='sda' bus='sata'/>
        <readonly/>
      </disk>

      <!-- Actual block storage. -->
      <disk type='file' device='disk'>
        <driver name='qemu' type='qcow2'/>
        <source file='{{ storage }}'/>
        <target dev='vda' bus='virtio'/>
      </disk>
    {% elif domain.image.kind == "cloud" %}
      <disk type='file' device='disk'>
        <driver name='qemu' type='qcow2'/>
        <source file='{{ image_path }}'/>
        <target dev='sda' bus='sata'/>
      </disk>
    {% endif %}

    <!-- Graphics console -->
    <graphics type='vnc' port='-1' autoport='yes'/>
    <console type='pty' tty='dev/pts/0'>
      <source path='/dev/pts/0' />
      <target type='serial' port='0' />
      <alias name='serial0' />
    </console>
  </devices>
</domain>
