# vi: set ft=yaml.ansible :
#
# - name: Add NVM
#   hosts: all
#   tasks:
#     - name: Get NVM Installer
#       ansible.builtin.get_url:
#         url: https://raw.githubusercontent.com/nvm-sh/nvm/refs/tags/v0.40.3/install.sh
#         checksum: 2d8359a64a3cb07c02389ad88ceecd43f2fa469c06104f92f98df5b6f315275f
#         dest: "{{ user.homedir }}/ansible/install-nvm.sh"
#     - name: Run NVM Installer
#       if: ""
#       ansible.builtin.shell: bash "{{ user.homedir }}/ansible/install-nvm.sh"
# - name: Add PyEnv
#   hosts: all
#   tasks:
#     - name: Get PyEnv Installer
#       ansible.builtin.git:
#         repo: https://github.com/pyenv/pyenv.git
#         clone: yes
#         dest: "{{ user.homedir }}/.pyenv"
#         depth: 1
#         version: v2.6.8
#     - name: What was I supposed to do with this git repository?
- name: Add Quarto
  tags:
    - quarto
    - tools
  become: true
  vars:
    quarto_archive: "{{ artifacts.base }}/quarto.tar"
    quarto_version: "1.8.24"
    quarto_opt: "/opt/quarto-{{ quarto_version }}"
    quarto_binary: "{{ quarto_opt }}/bin/quarto"
  block:
    - name: "Check if Installed"
      ansible.builtin.stat:
        path: "{{ quarto_binary }}"
      register: quarto_binary_stat
    - name: Install Quarto
      when: not quarto_binary_stat.stat.exists
      block:
        - name: Get Quarto tarball
          ansible.builtin.get_url:
            url: https://github.com/quarto-dev/quarto-cli/releases/download/v{{ quarto_version }}/quarto-{{ quarto_version }}-linux-amd64.tar.gz
            checksum: "{{ quarto_checksum }}"
            dest: "{{ quarto_archive }}"
            mode: "0644"
        - name: Untar Quarto
          become: true
          ansible.builtin.unarchive:
            remote_src: true
            dest: "/opt"
            creates: "{{ quarto_opt }}"
            src: "{{ quarto_archive }}"
            mode: "0644"
        - name: Quarto Symlink
          become: true
          ansible.builtin.file:
            src: "{{ quarto_binary }}"
            dest: /usr/local/bin/quarto
            state: link
- name: GoLang
  tags:
    - devops
    - tools
    - golang
  vars:
    golang_archive_name: go{{ tools.go.version }}.linux-{{ arch }}.tar.gz
    golang_archive_url: https://go.dev/dl/{{ golang_archive_name }}
    golang_archive_dest: "{{ artifacts.base }}/{{ golang_archive_name }}"
  block:
    - name: Check Go Install
      ansible.builtin.stat:
        path: "/usr/local/bin/go"
      register: golang_binary_stat
    - name: Install Go
      when: not golang_binary_stat.stat.exists
      block:
        - name: "Download Go"
          become: true
          ansible.builtin.get_url:
            url: "{{ golang_archive_url }}"
            dest: "{{ golang_archive_dest }}"
            mode: "0644"
        - name: "Extract the `go` Archive."
          become: true
          ansible.builtin.unarchive:
            remote_src: true
            src: "{{ golang_archive_dest }}"
            creates: /usr/local/go
            dest: /usr/local
        - name: "Create binary link"
          become: true
          ansible.builtin.file:
            src: "/usr/local/go/bin/{{ item }}"
            dest: "/usr/bin/{{ item }}"
            state: "link"
          loop:
            - gofmt
            - go
- name: ArgoCD
  tags:
    - devops
    - tools
  block:
    - name: Download ArgoCD into bin
      become: true
      ansible.builtin.get_url:
        url: https://github.com/argoproj/argo-cd/releases/download/v{{ tools.argocd.version }}/argocd-linux-{{ arch }}
        checksum: '{{ tools.argocd.checksum }}'
        dest: /usr/local/bin/argocd
        mode: '0775'
- name: Add Helm
  tags:
    - devops
    - tools
  vars:
    helm_archive: "{{ artifacts.base }}/helm.tar.gz"
    helm_unarchive: "{{ artifacts.base }}/helm"
    helm_binary: "/usr/local/bin/helm"
  block:
    - name: Check Helm Installed
      ansible.builtin.stat:
        path: "{{ helm_binary }}"
      register: helm_binary_stat
    - name: Install Helm
      when: not helm_binary_stat.stat.exists
      block:
        - name: Download Helm
          ansible.builtin.get_url:
            url: https://get.helm.sh/helm-v{{ tools.helm.version }}-linux-{{ arch }}.tar.gz
            checksum: '{{ tools.helm.checksum }}'
            dest: '{{ helm_archive }}'
            mode: "0644"
        - name: Create Helm Archive Folder
          ansible.builtin.file:
            path: '{{ helm_unarchive }}'
            state: "directory"
            mode: "0644"
            # mode: directory
        - name: Extract Helm
          become: true
          ansible.builtin.unarchive:
            remote_src: true
            creates: '{{ helm_unarchive }}/linux-amd64'
            dest: '{{ helm_unarchive }}/'
            src: '{{ helm_archive }}'
            mode: "0644"
        - name: Move Helm
          become: true
          ansible.builtin.copy:
            remote_src: true
            src: '{{ helm_unarchive }}/linux-amd64/helm'
            dest: '{{ helm_binary }}'
            mode: '0755'
- name: Add KubeCtl
  tags:
    - devops
    - tools
  become: true
  block:
    - name: Download KubeCtl into bin
      ansible.builtin.get_url:
        url: https://dl.k8s.io/release/v{{ tools.kubectl.version }}/bin/linux/{{ arch }}/kubectl
        checksum: "{{ tools.kubectl.checksum }}"
        dest: /usr/local/bin/kubectl
        mode: '0775'
- name: Add Terraform
  tags:
    - devops
    - tools
  vars:
    tf_basename: "terraform_{{ tools.terraform.version }}"
    tf_baseurl: "https://releases.hashicorp.com/terraform/{{ tools.terraform.version }}"
    tf_shasums: "{{artifacts.base }}/{{ tf_basename }}_SHA256SUMS"
    tf_archive_name: "{{ tf_basename }}_linux_{{ arch }}.zip"
    tf_archive: "{{ artifacts.base }}/{{ tf_archive_name }}"
    tf_unarchive: "{{ artifacts.base }}/terraform"
    tf_binary: "/usr/local/bin/tf"
    hc_pgpkey: "{{ artifacts.base }}/hc.txt"
    tf_shasums_select_pattern: ".*{{ tf_archive_name }}"
    tf_url: "{{ tf_baseurl }}/{{ tf_archive_name }}"
  block:
    - name: Check Terraform Install
      ansible.builtin.stat:
        path: "{{ tf_binary }}"
      register: tf_binary_stat
    - name: Install Terraform
      when: not tf_binary_stat.stat.exists
      block:
        - name: Get Shasum
          block:
            - name: Download Shasums
              ansible.builtin.get_url:
                url: '{{ tf_baseurl }}/{{ tf_basename }}_SHA256SUMS'
                dest: '{{ tf_shasums }}'
                mode: "0644"
            - name: Read ShaSums
              ansible.builtin.slurp:
                src: '{{ tf_shasums }}'
              register: tf_shasums_file
            - name: Decoded
              block:
                - name: Set `tf_shasums_decoded`
                  ansible.builtin.set_fact:
                    tf_shasums_decoded: '{{ tf_shasums_file.content | b64decode }}'
                - name: Show `tf_shasums_decoded`
                  ansible.builtin.debug:
                    var: tf_shasums_decoded
            - name: "Split"
              block:
                - name: Set `tf_shasums_split`
                  ansible.builtin.set_fact:
                    tf_shasums_split: "{{ tf_shasums_decoded | split('\n')  }}"
                - name: Show `tf_shasums_split`
                  ansible.builtin.debug:
                    var: tf_shasums_split
            - name: Select
              block:
                - name: Set `tf_shasums_select`
                  ansible.builtin.set_fact:
                    tf_shasums_select: "{{ tf_shasums_split | select('match', tf_shasums_select_pattern )  }}"
                - name: Show `tf_shasums_select`
                  ansible.builtin.debug:
                    var: tf_shasums_select_pattern
                    # - ansible.builtin.debug:
                    #     var: tf_shasums_select
            - name: Unwrap `tf_shasums_select`
              ansible.builtin.set_fact:
                tf_shasum: "{{ tf_shasums_select | first | split | first }}"
        - name: Download Terraform
          ansible.builtin.get_url:
            url: '{{ tf_url }}'
            dest: '{{ tf_archive }}'
            mode: "0644"
            checksum: "{{ tools.terraform.checksum }}"
        - name: Create Terraform Archive Folder
          ansible.builtin.file:
            state: "directory"
            path: "{{ tf_unarchive }}"
            mode: "0644"
        - name: Extract Terraform
          become: true
          ansible.builtin.unarchive:
            remote_src: true
            creates: '{{ tf_unarchive }}/terraform'
            dest: '{{ tf_unarchive }}'
            src: '{{ tf_archive }}'
            mode: "0644"
        - name: Move Terraform into bin
          become: true
          ansible.builtin.copy:
            remote_src: true
            src: '{{ tf_unarchive }}/terraform'
            dest: '{{ tf_binary }}'
            mode: '0755'
