# vi: set ft=yaml.ansible :
- name: Set Context
  hosts:
    - localhost
    # - redhat
  tags:
    - backgrounds
    - desktop
  tasks:
    - name: Include Context
      ansible.builtin.include_tasks:
        file: ./context.yaml
- name: Install Kitty
  hosts:
    - redhat
    - debian
  tags:
    - desktop
    - tools
    - installs
    - kitty
  gather_facts: false
  vars:
    kitty_archive_name: "kitty-{{tools.kitty.version}}-{{ ansible_architecture }}.txz"
    kitty_url: "https://github.com/kovidgoyal/kitty/releases/download/v{{ tools.kitty.version }}/{{ kitty_archive_name }}"
    kitty_archive_dest: "{{ artifacts.base }}/{{ kitty_archive_name }}"
  tasks:
    - name: "Check Kitty Install"
      ansible.builtin.stat:
        path: "/usr/local/bin/kitty"
      register: kitty_binaries_stat
    - name: "Install Kitty"
      when: not kitty_binaries_stat.stat.exists
      block:
        - name: "Download Kitty"
          ansible.builtin.get_url:
            url: "{{ kitty_url }}"
            checksum: "{{ tools.kitty.checksum }}"
            mode: '0644'
            dest: "{{ kitty_archive_dest }}"
        - name: Ensure Kitty Directory
          become: true
          ansible.builtin.file:
            state: "directory"
            path: /opt/kitty
            mode: "1755"
        - name: "Provide Kitty Binaries."
          become: true
          ansible.builtin.unarchive:
            remote_src: true
            src: "{{ kitty_archive_dest }}"
            dest: "/opt/kitty"
            creates: /opt/kitty/bin
        - name: "Link Kitty Binaries"
          become: true
          ansible.builtin.file:
            state: "link"
            src: "/opt/kitty/bin/{{ item }}"
            dest: "/usr/local/bin/{{ item }}"
          loop:
            - kitty
            - kitten
    - name: Add Kitty To Desktop
      ansible.builtin.copy:
        content: "{{ lookup('template', 'kitty.desktop.j2') }}"
        dest: "/home/{{ primary_user }}/.local/share/applications/kitty.desktop"
        mode: '0644'
    - name: Add Kitty Settings
      ansible.builtin.copy:
        content: "{{ lookup('template', 'kitty.conf.j2') }}"
        dest: "/home/{{ primary_user }}/.config/kitty/kitty.conf"
        mode: '0644'
- name: Install Brave Browser
  hosts:
    - redhat
  tags:
    - desktop
    - tools
    - installs
    - brave
    - browser
  gather_facts: false
  tasks:
    - name: Check Brave Install
      ansible.builtin.stat:
        path: "/usr/local/bin/brave"
      register: "brave_stat"
    - name: Install Brave
      when: not brave_stat.stat.exists
      block:
      - name: Get Repofile
        become: true
        ansible.builtin.get_url:
          url: https://brave-browser-rpm-release.s3.brave.com/brave-browser.repo
          dest: /etc/yum.repos.d/brave-browser.repo
      - name: Install Brave
        become: true
        ansible.builtin.dnf:
          update_cache: true
          name: brave-browser
          state: present
# NOTE: See the instructions:
- name: Install VSCode (Yucky!)
  hosts:
    - redhat
  vars:
    vscode_bin: /usr/bin/code
    vscode_asc: "{{ artifacts.base }}/microsoft.asc"
  tasks:
    - name: Check VSCode Installed
      ansible.builtin.stat:
        path: "{{vscode_bin }}"

    - name : Install VSCode
      block:
        - name: Check ASC Install
          ansible.builtin.stat:
            path: "{{ vscode_asc_dest }}"
          register: vscode_asc_dest_stat
        - name: "Install ASC"
          block:
          - name: Get the ASC
            ansible.builtin.get_url:
              url: https://packages.microsoft.com/keys/microsoft.asc
              dest: "{{ vscode_asc }}"
          - name: Copy the ASC into 




