# vi: set ft=yaml.ansible :
- name: "Create the Ansible Directory"
  tags: always
  hosts:
    - debian
    - redhat
  tasks:
    - name: "Setup Context."
      ansible.builtin.include_tasks: "./context.yaml"
    - name: Define Destination for all Ansible Assets.
      ansible.builtin.set_fact:
        artifacts_dir: "/home/{{ ansible_user_id }}/.artifacts"
    - name: Define Ansible Assets Subdirs.
      ansible.builtin.set_fact:
        artifacts:
          base: "{{ artifacts_dir }}"
          repos: "{{ artifacts_dir }}/repos"
          templated: "{{ artifacts_dir }}/templated"
          backgrounds: "{{ artifacts_dir }}/templated/backgrounds"
    - name: "Instantiate Ansible Assets Dirs."
      ansible.builtin.file:
        state: directory
        mode: "1700"
        path: "{{ item.value }}"
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_id }}"
      with_dict: "{{ artifacts }}"
- name: Install Docker
  hosts: all
  roles:
    - name: docker-install
      vars:
        os_familiy: "{{ os_familiy }}"
        docker_users: ["{{ ansible_user }}"]
    - name: tools
      vars:
        os_familiy: "{{ os_familiy }}"
